@font-face {
  font-family: "URWGeometric-Light";
  src: url("../fonts/URWGeometric-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: "URWGeometric-Regular";
  src: url("../fonts/URWGeometric-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: "URWGeometric-Medium";
  src: url("../fonts/URWGeometric-Medium.woff2");
  font-weight: 500; }
@font-face {
  font-family: "URWGeometric-SemiBold";
  src: url("../fonts/URWGeometric-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "URWGeometric-Bold";
  src: url("../fonts/URWGeometric-Bold.woff2");
  font-weight: bold; }
@font-face {
  font-family: "Avenir-Arabic";
  src: url("../fonts/Avenir-Arabic.ttf");
  font-weight: 800; }
* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "URWGeometric-Regular", sans-serif;
  background-color: #FCFCFC;
  display: flex;
  color: #2A2A2A;
  flex-direction: column;
  min-height: 100vh; }

a {
  text-decoration: none !important;
  transition: 0.3s; }
  a.text-blue:hover {
    color: #165366; }

input[type=radio], input[type=checkbox] {
  display: none; }
input[type=number] {
  -moz-appearance: textfield; }
  input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; }

@media (min-width: 1260px) {
  .container {
    max-width: 1200px; } }
.text-blue {
  color: #1F687E !important; }

.text-green {
  color: #24997D !important; }

.text-red {
  color: #EF6A82 !important; }

.text-black {
  color: #2A2A2A !important; }

.text-gray {
  color: #66666C !important; }

.text-gray-2 {
  color: #888893 !important; }

.text-gray-3 {
  color: #535353 !important; }

.navbar {
  padding: 12px 16px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(164, 164, 164, 0.15), 0px 0.5px 0px #C8C8C8; }
  .navbar .navbar-brand {
    font-size: 0px; }
    .navbar .navbar-brand img {
      width: 180px; }
      @media (max-width: 575.98px) {
        .navbar .navbar-brand img {
          width: 160px; } }
  .navbar .nav-link {
    position: relative;
    color: #1F687E !important;
    font-size: 16px;
    display: inline-block;
    padding: 8px 14px !important;
    font-weight: 700; }
    .navbar .nav-link.text-red {
      color: #EF6A82 !important; }
    .navbar .nav-link:after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 50%;
      width: 0;
      border: 0;
      border-bottom: 3px solid #FFC5AE;
      transition: 0.3s;
      margin-left: 0;
      max-width: 26px;
      transform: translateX(-50%); }
    .navbar .nav-link:hover {
      opacity: 1;
      color: #165366 !important; }
    .navbar .nav-link.active:after {
      width: calc(100% - 50px); }

.logo .blue-path, .logo .pink-path {
  transition: 0.3s; }
.logo:hover .blue-path {
  transform: translate(2px, -2px); }
.logo:hover .pink-path {
  transform: translate(-2px, 2px); }

.row-1 {
  margin-left: -8px;
  margin-right: -8px; }
  .row-1 > [class*='col'] {
    padding-left: 8px;
    padding-right: 8px; }

@media (min-width: 1200px) {
  .row-2 {
    margin-left: -20px;
    margin-right: -20px; }
    .row-2 > [class*='col'] {
      padding-left: 20px;
      padding-right: 20px; } }

@media (min-width: 1200px) {
  .row-3 {
    margin-left: -30px;
    margin-right: -30px; }
    .row-3 > [class*='col'] {
      padding-left: 30px;
      padding-right: 30px; } }

.row-4 {
  margin-left: -3px;
  margin-right: -3px; }
  .row-4 > [class*='col'] {
    padding-left: 3px;
    padding-right: 3px; }

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: "URWGeometric-Regular", sans-serif; }

.h2, h2 {
  font-size: 40px;
  font-weight: 700; }

.h3, h3 {
  font-size: 24px;
  font-weight: 700; }

.h5, h5 {
  font-size: 19px; }

.fz-0 {
  font-size: 0px; }

.fz-9 {
  font-size: 9px; }

.fz-14 {
  font-size: 14px !important; }

.fz-15 {
  font-size: 15px !important; }

.fz-16 {
  font-size: 16px !important; }

.fz-18 {
  font-size: 18px; }

.fz-32 {
  font-size: 32px; }

.lh-1 {
  line-height: 1; }

.lh-12 {
  line-height: 1.2; }

hr {
  border-color: #EEEEF0; }

.btn-sign {
  margin-left: 10px;
  background: #24997D;
  transition: 0.3s;
  border: 0;
  font-weight: 500; }
  .btn-sign:hover {
    background: #218C73; }
  .btn-sign:focus {
    box-shadow: none; }
  .btn-sign[disabled] {
    background: #EEEEF0;
    color: #B7B7BD; }

.btn-edit {
  background: #1F687E;
  font-weight: 500; }
  .btn-edit:hover {
    background: #165366; }

.btn-edit-outline {
  background: transparent;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #165366;
  border: 1px solid #165366;
  font-weight: 500; }
  .btn-edit-outline:hover {
    background: #1F687E;
    border: 1px solid #1F687E; }

.sandwich {
  display: inline-block;
  color: #1F687E;
  cursor: pointer;
  transition: none;
  padding: 0;
  border: 0;
  background-color: #FFF; }
  .sandwich:hover {
    opacity: 0.6; }
  .sandwich:before {
    width: 25px; }
  .sandwich span {
    width: 25px; }
  .sandwich:after {
    width: 25px; }
  .sandwich:before, .sandwich:after {
    content: ""; }
  .sandwich span, .sandwich:after {
    margin-top: 8px; }
  .sandwich span, .sandwich:before, .sandwich:after {
    display: block;
    transition: 0.3s;
    transform-origin: right center;
    border-top: 1px solid #1F687E;
    margin-left: auto; }
  .sandwich:not(.collapsed):before {
    transform: rotate(-45deg);
    width: 25px; }
  .sandwich:not(.collapsed) span {
    width: 0;
    opacity: 0; }
  .sandwich:not(.collapsed):after {
    transform: rotate(45deg);
    width: 25px; }
  .sandwich:hover {
    opacity: 0.8; }

.see-all {
  display: inline-block;
  color: #1F687E;
  font-size: 18px;
  font-weight: 600; }
  .see-all:hover {
    opacity: 1;
    color: #165366;
    transform: translateX(5px); }

.see-all-2:hover {
  transform: translateX(0); }

.see-all-back {
  font-size: 14px; }
  .see-all-back:hover {
    transform: translateX(-5px); }

.a-property {
  color: #000; }
  .a-property span {
    display: inline !important; }
  .a-property:hover {
    color: #000; }

.card-2 {
  height: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05); }
  .card-2 .card-block {
    padding: 10px 16px 32px;
    height: 100%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 330.98px) {
      .card-2 .card-block {
        padding: 10px 8px 32px; } }
  .card-2.past {
    opacity: 0.5; }

.footer {
  padding: 80px 0 120px;
  background: #165366;
  margin-top: auto; }
  @media (max-width: 991.98px) {
    .footer {
      padding: 48px 0; } }
  .footer .a-block a {
    color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding-bottom: 8px; }
    .footer .a-block a:hover {
      color: rgba(255, 255, 255, 0.4); }

.watch-container {
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-clip: border-box; }
  .watch-container .watch {
    position: absolute;
    font-weight: 700;
    font-size: 0px;
    top: 16px;
    left: 16px;
    padding: 4px 8px;
    border-radius: 100px;
    border: 1px solid #888893;
    background: rgba(255, 255, 255, 0.75);
    transition: 0.3s;
    color: #2A2A2A; }
    @media (min-width: 1200px) {
      .watch-container .watch {
        opacity: 0; } }
  .watch-container:hover .watch {
    opacity: 1; }

.owl-1.owl-theme .owl-nav {
  margin-top: 0; }
.owl-1.owl-theme .owl-dots {
  font-size: 0px;
  bottom: 8%;
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.3s; }
  .owl-1.owl-theme .owl-dots .owl-dot {
    vertical-align: middle; }
    .owl-1.owl-theme .owl-dots .owl-dot span {
      margin: 5px;
      width: 8px;
      height: 8px;
      background: #FFF;
      opacity: 0.7;
      transition: 0.3s; }
    .owl-1.owl-theme .owl-dots .owl-dot:hover span {
      width: 12px;
      height: 12px; }
    .owl-1.owl-theme .owl-dots .owl-dot.active span {
      width: 16px;
      height: 16px;
      opacity: 1; }
.owl-1 .owl-nav [class*=owl-] {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  background-color: #fff !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  transition: 0.3s;
  opacity: 0; }
  .owl-1 .owl-nav [class*=owl-].owl-prev, .owl-1 .owl-nav [class*=owl-].owl-next {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0px; }
  .owl-1 .owl-nav [class*=owl-].owl-prev {
    background-image: url(../img/owl-prev.svg);
    left: 4%; }
  .owl-1 .owl-nav [class*=owl-].owl-next {
    background-image: url(../img/owl-next.svg);
    right: 4%; }
  .owl-1 .owl-nav [class*=owl-]:hover:not(.disabled) {
    opacity: 1; }
.owl-1:hover .owl-dots {
  opacity: 1; }
.owl-1:hover .owl-nav [class*=owl-] {
  opacity: 0.7; }

.section {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 575.98px) {
    .section {
      padding-top: 50px;
      padding-bottom: 50px; } }

.card-signup {
  border: 1px solid #E0E0E0;
  padding: 80px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border-radius: 16px; }
  @media (max-width: 991.98px) {
    .card-signup {
      padding: 60px; } }
  @media (max-width: 575.98px) {
    .card-signup {
      padding: 40px 20px; } }

.form-control, .custom-select {
  padding: 10px 13px;
  height: 44px;
  font-size: 18px;
  transition: 0.3s;
  color: #888893;
  border: 1px solid #EEEEF0; }
  .form-control::-webkit-input-placeholder, .custom-select::-webkit-input-placeholder {
    color: #888893; }
  .form-control::-moz-placeholder, .custom-select::-moz-placeholder {
    color: #888893; }
  .form-control:-ms-input-placeholder, .custom-select:-ms-input-placeholder {
    color: #888893; }
  .form-control:hover, .custom-select:hover {
    background: #FCFCFC; }
  .form-control:focus, .custom-select:focus {
    border-color: #B7B7BD;
    color: #2A2A2A;
    box-shadow: none; }
  .form-control:disabled, .custom-select:disabled {
    border-color: #EEEEF0;
    color: #B7B7BD;
    background-color: #FCFCFC; }
  .form-control.error, .custom-select.error {
    border-color: #EF6A82; }
    .form-control.error ~ .row .the-count, .custom-select.error ~ .row .the-count {
      color: #EF6A82; }
  .form-control.form-control-blue, .custom-select.form-control-blue {
    color: #1F687E;
    background: #FCFCFC;
    padding-right: 30px; }
    .form-control.form-control-blue::-webkit-input-placeholder, .custom-select.form-control-blue::-webkit-input-placeholder {
      color: #1F687E; }
    .form-control.form-control-blue::-moz-placeholder, .custom-select.form-control-blue::-moz-placeholder {
      color: #1F687E; }
    .form-control.form-control-blue:-ms-input-placeholder, .custom-select.form-control-blue:-ms-input-placeholder {
      color: #1F687E; }
    .form-control.form-control-blue:focus, .custom-select.form-control-blue:focus {
      color: #1F687E; }

.custom-select {
  padding: 6px 30px 6px 13px;
  background: #FFF url(../img/arrow.svg) no-repeat right 0.75rem center/20px 11px; }
  .custom-select:hover {
    background: #FCFCFC url(../img/arrow.svg) no-repeat right 0.75rem center/20px 11px; }

.copy {
  position: absolute;
  transition: 0.3s;
  background: none;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  width: 18px;
  height: 20px;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/copy.svg); }

.date {
  position: absolute;
  transition: 0.3s;
  background: none;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/date.svg); }

.time {
  background-image: url(../img/time.svg); }

.form-group {
  color: #535353; }
  .form-group .confirmed {
    color: #888893; }
  .form-group.disabled {
    color: #B7B7BD; }
    .form-group.disabled .confirmed {
      color: #B7B7BD; }

label.error {
  display: none !important; }
label.check-group {
  font-size: 18px;
  display: block;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
  line-height: 1.4;
  transition: 0.3s;
  color: #888893; }
  @media (max-width: 575.98px) {
    label.check-group {
      font-size: 16px; } }
  label.check-group div:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 2px;
    transform: translateY(-50%);
    border: 2px solid;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
    transition: 0.3s; }
  label.check-group input:checked ~ div:before {
    border-color: #448FFF;
    border-radius: 6px; }
label.checkbox-group {
  padding-left: 30px; }
  label.checkbox-group div:before {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    border-color: #888893; }
  label.checkbox-group input:checked ~ div {
    color: #2A2A2A; }
    label.checkbox-group input:checked ~ div:before {
      background-image: url(../img/check-square.svg);
      background-size: cover; }

.list-check {
  margin-bottom: 0;
  padding-bottom: 1rem;
  padding-left: 0;
  list-style: none; }
  .list-check li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 24px; }
    .list-check li:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url(../img/checkmark.svg);
      background-size: cover; }

.list-check-warning li {
  margin-bottom: 20px; }
  .list-check-warning li:before {
    background-image: url(../img/warning.svg); }

.form-textarea {
  height: 180px !important;
  resize: none;
  padding: 10px;
  font-size: 18px; }

.form-textarea-100 {
  height: 100px !important; }

.form-textarea-125 {
  height: 125px !important; }

.form-textarea-72 {
  height: 72px !important; }

.form-textarea-155 {
  height: 155px !important; }

.uploader-plugin {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  transition: 0.3s; }
  .uploader-plugin:hover {
    background: #FCFCFC; }
  .uploader-plugin input.upload {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0); }
    .uploader-plugin input.upload.error ~ .fileUpload {
      border-color: #EF6A82; }
  .uploader-plugin .fileUpload {
    padding: 6px 13px;
    height: 44px;
    font-size: 18px;
    transition: 0.3s;
    color: #1F687E;
    border: 1px solid #EEEEF0;
    border-radius: 0.25rem;
    text-align: left;
    width: 100%;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 45px; }
    .uploader-plugin .fileUpload img {
      width: 20px; }
  .uploader-plugin .delete-small {
    position: absolute;
    display: none;
    right: 13px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    transition: 0.3s; }
    .uploader-plugin .delete-small .delete-2 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: 0.3s; }
    .uploader-plugin .delete-small:hover .delete-2 {
      opacity: 1; }
    .uploader-plugin .delete-small img {
      display: block; }

.uploader label {
  padding: 10px;
  height: 120px;
  width: 120px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #EEEEF0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .uploader label:hover {
    background: #FCFCFC; }
  .uploader label.file-upload {
    padding: 0; }
    .uploader label.file-upload .delete-img {
      display: block; }
    .uploader label.file-upload:hover .delete-img {
      opacity: 1; }
.uploader .delete-img {
  display: none;
  opacity: 0;
  background: rgba(252, 252, 252, 0.94);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .uploader .delete-img img {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%); }
.uploader #start {
  padding: 22px 10px; }
  .uploader #start.hidden {
    display: none; }
.uploader #response.hidden {
  display: none; }
.uploader #response #messages {
  display: none; }
.uploader #file-image {
  margin: auto;
  max-height: 100%; }
  .uploader #file-image.hidden {
    display: none; }
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%; }
  .uploader #notimage.hidden {
    display: none; }
.uploader input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0px;
  pointer-events: none; }
  .uploader input[type="file"].error ~ label {
    border-color: #EF6A82; }
.uploader div {
  color: #1F687E;
  font-size: 18px; }

.bg-upload {
  display: inline-block;
  background-image: url(../img/upload.svg);
  background-size: cover;
  background-position: center center;
  width: 24px;
  height: 20px; }

.the-count {
  color: #888893;
  font-size: 14px;
  transition: 0.3s; }

.block-company {
  display: none; }

.bg-img {
  background-size: cover;
  background-position: center center;
  height: auto; }

.bg-img-460 {
  height: 460px; }
  @media (max-width: 575.98px) {
    .bg-img-460 {
      height: 290px; } }

.bg-img-112 {
  height: 112px; }

.bg-img-radius {
  border-radius: 8px;
  overflow: hidden; }

.radius-bottom-8 {
  overflow: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }

.a-bid {
  color: initial; }
  .a-bid h3 {
    transition: 0.3s; }
  .a-bid:hover {
    color: initial; }
    .a-bid:hover h3 {
      opacity: 0.7; }

.closed {
  opacity: 0.5; }
  .closed .a-bid:hover h3 {
    opacity: 1; }

.pill {
  display: inline-block;
  font-size: 14px;
  padding: 0 4px;
  color: #FFF;
  border-radius: 4px; }
  .pill.pill-blue {
    background: #1F687E; }
  .pill.pill-green {
    background: #24997D; }
  .pill.pill-red {
    background: #EF6A82; }
  .pill.pill-closed {
    background: #EEEEF0;
    color: #2A2A2A;
    font-weight: 600; }

.pagination .page-item:not(:last-child) {
  margin-right: 16px; }
.pagination .page-item .page-link {
  color: #2A2A2A;
  background: #F5F5F7;
  font-size: 24px;
  font-weight: 700;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  border: 0;
  font-family: "Avenir-Arabic", sans-serif; }
  .pagination .page-item .page-link:hover, .pagination .page-item .page-link.active {
    background: #1F687E;
    color: #FFF;
    opacity: 1; }
  .pagination .page-item .page-link:focus {
    box-shadow: none; }
  @media (max-width: 575.98px) {
    .pagination .page-item .page-link {
      font-size: 16px;
      width: 30px;
      height: 30px; } }

.btn-watch {
  display: flex;
  align-items: center;
  color: #1F687E;
  border: 1px solid #F5F5F7;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 10px; }
  .btn-watch .img-watch {
    display: inline-block;
    width: 16px;
    height: 11px;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/watch.svg); }
  .btn-watch:hover, .btn-watch:active {
    background: #FFF;
    color: #165366; }
  .btn-watch:focus {
    box-shadow: none; }

.btn-watched {
  color: #FFF;
  border-color: #1F687E;
  background: #1F687E; }
  .btn-watched .img-watch {
    background-image: url(../img/watch-white.svg); }
  .btn-watched:hover, .btn-watched:active {
    background: #1F687E !important;
    color: #FFF !important;
    border-color: #1F687E !important; }

.address {
  padding-top: 8px;
  padding-bottom: 16px; }
  .address:not(:last-child) {
    border-bottom: 1px solid #EEEEF0; }

.block-website {
  background: #FCFCFC;
  padding: 24px;
  border: 1px solid #EEEEF0; }
  @media (max-width: 575.98px) {
    .block-website {
      padding: 15px; } }

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.base-img {
  border-radius: 4px;
  overflow: hidden; }

.bid-block {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.02);
  border: 1px solid #E0E0E0;
  color: #535353; }
  @media (max-width: 575.98px) {
    .bid-block {
      padding: 25px 15px; } }

.draft-block {
  padding: 32px;
  border-radius: 8px;
  border: 1px dashed #B7B7BD; }
  @media (max-width: 1259.98px) {
    .draft-block {
      padding: 24px; } }
  @media (max-width: 1199.98px) {
    .draft-block {
      padding: 32px; } }
  @media (max-width: 575.98px) {
    .draft-block {
      padding: 25px 15px; } }

.adjust-block {
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: 0.3s; }
  .adjust-block .adjust-bid {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    background-size: cover;
    background-position: center center; }
    .adjust-block .adjust-bid:hover {
      transform: scale(1.1); }
    .adjust-block .adjust-bid.adjust-bid-minus-gray {
      background-image: url(../img/minus-gray.svg); }
    .adjust-block .adjust-bid.adjust-bid-minus-blue {
      background-image: url(../img/minus-blue.svg); }
    .adjust-block .adjust-bid.adjust-bid-plus-gray {
      background-image: url(../img/plus-gray.svg); }
    .adjust-block .adjust-bid.adjust-bid-plus-blue {
      background-image: url(../img/plus-blue.svg); }

.bid-time .bid-clock {
  display: inline-block;
  padding-right: 2px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-size: cover;
  background-position: center center; }
  .bid-time .bid-clock.bid-clock-blue {
    background-image: url(../img/clock-blue.svg); }
  .bid-time .bid-clock.bid-clock-green {
    background-image: url(../img/clock-green.svg); }
  .bid-time .bid-clock.bid-check-blue {
    background-image: url(../img/check-blue.svg); }
  .bid-time .bid-clock.bid-check-green {
    background-image: url(../img/check-green.svg); }
.bid-time .bid-text-blue {
  color: #1F687E; }
.bid-time .bid-text-green {
  color: #24997D; }

.block-img {
  border-radius: 8px; }
  @media (min-width: 768px) {
    .block-img {
      width: 240px;
      height: 160px; } }

.block-gray {
  border-radius: 8px;
  width: 240px;
  height: 160px; }

.bg-gray {
  background: #F5F5F7; }

@media (min-width: 1200px) {
  .modal-deposit.modal-1000 {
    max-width: 1000px; } }
@media (min-width: 1200px) {
  .modal-deposit.modal-565 {
    max-width: 565px; } }
.modal-deposit .modal-content {
  border-radius: 16px;
  border: 0; }
  .modal-deposit .modal-content .card-signup {
    box-shadow: none; }
    .modal-deposit .modal-content .card-signup.card-signup-60 {
      padding: 60px; }
      @media (max-width: 575.98px) {
        .modal-deposit .modal-content .card-signup.card-signup-60 {
          padding: 40px 15px; } }

.table-main {
  border: 0.5px solid #B7B7BD;
  border-radius: 4px; }
  .table-main .table-2 {
    min-width: 1108px;
    margin-bottom: 0 !important;
    width: 100%; }
    .table-main .table-2 .d-table-row {
      vertical-align: middle;
      color: #2A2A2A; }
      .table-main .table-2 .d-table-row .d-table-cell {
        padding: 10px 16px;
        vertical-align: middle;
        border: 0; }
        .table-main .table-2 .d-table-row .d-table-cell:last-child {
          text-align: right; }
      .table-main .table-2 .d-table-row:first-child {
        background: #1F687E !important; }
        .table-main .table-2 .d-table-row:first-child .d-table-cell {
          color: #FFF;
          font-weight: 500; }
    .table-main .table-2 .d-table-row:nth-of-type(odd) {
      background: #FCFCFC; }
    .table-main .table-2 .d-table-row:nth-of-type(even) {
      background: #FFF; }
    .table-main .table-2 a.d-table-row:hover {
      background: #EEEEF0; }

.draft .text-draft {
  color: #888893; }
.draft .circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: #FFF;
  border: 2px solid #B7B7BD; }
.draft.success .text-draft {
  color: #2A2A2A; }
.draft.success .circle {
  border: none;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/checked.svg); }

/*# sourceMappingURL=style.css.map */
