@font-face
	font-family: 'URWGeometric-Light'
	src: url('../fonts/URWGeometric-Light.ttf')
	font-weight: 300
@font-face
	font-family: 'URWGeometric-Regular'
	src: url('../fonts/URWGeometric-Regular.ttf')
	font-weight: normal
@font-face
	font-family: 'URWGeometric-Medium'
	src: url('../fonts/URWGeometric-Medium.woff2')
	font-weight: 500
@font-face
	font-family: 'URWGeometric-SemiBold'
	src: url('../fonts/URWGeometric-SemiBold.ttf')
	font-weight: 600
@font-face
	font-family: 'URWGeometric-Bold'
	src: url('../fonts/URWGeometric-Bold.woff2')
	font-weight: bold
@font-face
	font-family: 'Avenir-Arabic'
	src: url('../fonts/Avenir-Arabic.ttf')
	font-weight: 800

$URWLight: 'URWGeometric-Light', sans-serif
$URWRegular: 'URWGeometric-Regular', sans-serif
$URWMedium: 'URWGeometric-Medium', sans-serif
$URWSemiBold: 'URWGeometric-SemiBold', sans-serif
$URWBold: 'URWGeometric-Bold', sans-serif
$Avenir-Arabic: 'Avenir-Arabic', sans-serif

$color-blue: #1F687E
$color-blue-2: #165366
$color-checked: #448FFF
$color-red: #EF6A82
$color-black: #2A2A2A
$color-gray-1: #66666C
$color-gray-2: #888893
$color-gray-3: #535353
$color-disabled: #B7B7BD
$color-gray-pagination: #F5F5F7
$color-white: #FFF
$color-white-2: #FCFCFC
$color-pink: #FFC5AE
$color-hr: #EEEEF0
$color-green: #24997D
$color-green-2: #218C73
$color-card: #E0E0E0

$font-weight-500: 500
$font-weight-600: 600
$font-weight-700: 700

$fz-0: 0px
$fz-9: 9px
$fz-14: 14px
$fz-15: 15px
$fz-16: 16px
$fz-18: 18px

$box: 0px 0px 10px rgba(164, 164, 164, 0.15), 0px 0.5px 0px #C8C8C8

$transition: .3s

* 
	outline: none !important

img 
	max-width: 100%
	height: auto

body 
	font-family: $URWRegular
	background-color: $color-white-2
	display: flex
	color: $color-black
	flex-direction: column
	min-height: 100vh

a 
	text-decoration: none !important
	transition: $transition
	&.text-blue 
		&:hover 
			color: $color-blue-2

input
	&[type=radio], &[type=checkbox]
		display: none
	&[type=number]
		-moz-appearance: textfield
		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
			-webkit-appearance: none

@media (min-width: 1260px)
	.container 
		max-width: 1200px

.text-blue 
	color: $color-blue !important

.text-green 
	color: $color-green !important

.text-red
	color: $color-red !important

.text-black
	color: $color-black !important

.text-gray
	color: $color-gray-1 !important

.text-gray-2
	color: $color-gray-2 !important

.text-gray-3
	color: $color-gray-3 !important

.navbar 
	padding: 12px 16px
	background-color: $color-white
	box-shadow: $box
	.navbar-brand 
		font-size: $fz-0
		img
			width: 180px
			@media (max-width: 575.98px)
				width: 160px
	.nav-link 
		position: relative
		color: $color-blue !important
		font-size: $fz-16
		display: inline-block
		padding: 8px 14px !important
		font-weight: $font-weight-700
		&.text-red
			color: $color-red !important
		&:after 
			content: ""
			position: absolute
			bottom: 5px
			left: 50%
			width: 0
			border: 0
			border-bottom: 3px solid $color-pink
			transition: $transition
			margin-left: 0
			max-width: 26px
			transform: translateX(-50%)
		&:hover
			opacity: 1
			color: $color-blue-2 !important
		&.active
			&:after
				width: calc(100% - 50px)

.logo
	.blue-path, .pink-path
		transition: $transition
	&:hover 
		.blue-path
			transform: translate(2px, -2px)
		.pink-path
			transform: translate(-2px, 2px)

.row-1
	margin-left: -8px
	margin-right: -8px
	> [class*='col']
		padding-left: 8px
		padding-right: 8px

.row-2
	@media (min-width: 1200px)
		margin-left: -20px
		margin-right: -20px
		> [class*='col']
			padding-left: 20px
			padding-right: 20px

.row-3
	@media (min-width: 1200px)
		margin-left: -30px
		margin-right: -30px
		> [class*='col']
			padding-left: 30px
			padding-right: 30px

.row-4
	margin-left: -3px
	margin-right: -3px
	> [class*='col']
		padding-left: 3px
		padding-right: 3px

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6
	font-family: $URWRegular

.h2, h2
	font-size: 40px
	font-weight: $font-weight-700 

.h3, h3
	font-size: 24px
	font-weight: $font-weight-700 

.h5, h5
	font-size: 19px

.fz-0	
	font-size: $fz-0
.fz-9	
	font-size: $fz-9
.fz-14
	font-size: $fz-14 !important
.fz-15
	font-size: $fz-15 !important
.fz-16
	font-size: $fz-16 !important
.fz-18
	font-size: $fz-18
.fz-32
	font-size: 32px

.lh-1
	line-height: 1
.lh-12
	line-height: 1.2

hr 
	border-color: $color-hr

.btn-sign
	margin-left: 10px
	background: $color-green
	transition: $transition
	border: 0
	font-weight: $font-weight-500
	&:hover 
		background: $color-green-2
	&:focus 
		box-shadow: none
	&[disabled]
		background: $color-hr
		color: $color-disabled

.btn-edit
	background: $color-blue
	font-weight: $font-weight-500
	&:hover 
		background: $color-blue-2

.btn-edit-outline
	background: transparent
	padding-top: 7px
	padding-bottom: 7px
	color: $color-blue-2
	border: 1px solid $color-blue-2
	font-weight: $font-weight-500
	&:hover 
		background: $color-blue
		border: 1px solid $color-blue

.sandwich
	display: inline-block
	color: $color-blue
	cursor: pointer
	transition: none
	padding: 0
	border: 0
	background-color: $color-white
	&:hover 
		opacity: .6
	&:before
		width: 25px
	span
		width: 25px
	&:after
		width: 25px
	&:before, &:after
		content: ''
	span, &:after
		margin-top: 8px
	span, &:before, &:after
		display: block
		transition: $transition
		transform-origin: right center
		border-top: 1px solid $color-blue
		margin-left: auto
	&:not(.collapsed)
		&:before
			transform: rotate(-45deg)
			width: 25px
		span
			width: 0
			opacity: 0
		&:after
			transform: rotate(45deg)
			width: 25px
	&:hover 
		opacity: .8

.see-all 
	display: inline-block
	color: $color-blue
	font-size: $fz-18
	font-weight: $font-weight-600
	&:hover
		opacity: 1
		color: $color-blue-2
		transform: translateX(5px)

.see-all-2
	&:hover
		transform: translateX(0)

.see-all-back
	font-size: $fz-14
	&:hover
		transform: translateX(-5px)

.a-property
	color: #000
	span 
		display: inline !important
	&:hover 
		color: #000

.card-2
	height: 100%
	border: 1px solid $color-card
	border-radius: 8px
	overflow: hidden
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05)
	.card-block
		padding: 10px 16px 32px
		height: 100%
		display: flex
		flex-direction: column
		@media (max-width: 330.98px)
			padding: 10px 8px 32px

	&.past
		opacity: .5

.footer 
	padding: 80px 0 120px
	background: $color-blue-2
	margin-top: auto
	@media (max-width: 991.98px)
		padding: 48px 0
	.a-block
		a 
			color: rgba(255, 255, 255, 0.75)
			display: inline-block
			padding-bottom: 8px
			&:hover 
				color: rgba(255, 255, 255, 0.4)
			
.watch-container
	position: relative
	cursor: pointer
	background-size: cover
	background-position: center center
	background-clip: border-box
	.watch 
		position: absolute
		font-weight: $font-weight-700
		font-size: $fz-0
		top: 16px
		left: 16px
		padding: 4px 8px
		border-radius: 100px
		border: 1px solid $color-gray-2
		background: rgba(255, 255, 255, 0.75)
		transition: $transition
		color: $color-black
		@media (min-width: 1200px)
			opacity: 0
	&:hover 
		.watch 
			opacity: 1

.owl-1
	&.owl-theme
		.owl-nav 
			margin-top: 0
		.owl-dots
			font-size: $fz-0
			bottom: 8%
			z-index: 10
			position: absolute
			left: 50%
			transform: translateX(-50%)
			opacity: 0
			transition: $transition
			.owl-dot 
				vertical-align: middle
				span
					margin: 5px
					width: 8px
					height: 8px
					background: $color-white
					opacity: .7
					transition: $transition
				&:hover
					span
						width: 12px
						height: 12px
				&.active
					span
						width: 16px
						height: 16px
						opacity: 1

	.owl-nav
		[class*=owl-]
			border-radius: 100px
			height: 40px
			width: 40px
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25)
			background-color: #fff !important
			background-position: center center !important
			background-repeat: no-repeat !important
			transition: $transition
			opacity: 0
			&.owl-prev, &.owl-next
				position: absolute	
				vertical-align: middle	
				top: 50%
				transform: translateY(-50%)
				font-size: $fz-0
			&.owl-prev
				background-image: url(../img/owl-prev.svg)
				left: 4%
			&.owl-next
				background-image: url(../img/owl-next.svg)
				right: 4%
			&:hover:not(.disabled)
				opacity: 1
	&:hover 
		.owl-dots
			opacity: 1 
		.owl-nav
			[class*=owl-]
				opacity: .7

// FORMS

.section	
	padding-top: 100px
	padding-bottom: 100px
	@media (max-width: 575.98px)
		padding-top: 50px
		padding-bottom: 50px

.card-signup
	border: 1px solid $color-card
	padding: 80px
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05)
	border-radius: 16px
	@media (max-width: 991.98px)
		padding: 60px
	@media (max-width: 575.98px)
		padding: 40px 20px

.form-control
	padding: 10px 13px
	height: 44px
	font-size: $fz-18
	transition: $transition
	color: $color-gray-2
	border: 1px solid $color-hr
	&::-webkit-input-placeholder
		color: $color-gray-2
	&::-moz-placeholder
		color: $color-gray-2
	&:-ms-input-placeholder
		color: $color-gray-2
	&:hover 
		background: $color-white-2
	&:focus
		border-color: #B7B7BD
		color: $color-black
		box-shadow: none
	&:disabled
		border-color: $color-hr
		color: #B7B7BD
		background-color: $color-white-2
	&.error
		border-color: $color-red
		~ .row
			.the-count
				color: $color-red
	&.form-control-blue
		color: $color-blue
		background: $color-white-2
		padding-right: 30px
		&::-webkit-input-placeholder
			color: $color-blue
		&::-moz-placeholder
			color: $color-blue
		&:-ms-input-placeholder
			color: $color-blue
		&:focus
			color: $color-blue

.copy 
	position: absolute 
	transition: $transition
	background: none
	top: 50%
	transform: translateY(-50%)
	right: 13px
	width: 18px
	height: 20px
	background-size: cover
	background-position: center center
	background-image: url(../img/copy.svg)

.form-group
	color: $color-gray-3
	.confirmed 
		color: $color-gray-2 
	&.disabled
		color: #B7B7BD
		.confirmed 
			color: #B7B7BD 

label
	&.error 
		display: none !important
	&.check-group
		font-size: $fz-18
		display: block
		margin-bottom: 0
		position: relative
		cursor: pointer
		line-height: 1.4
		transition: $transition
		color: $color-gray-2
		@media (max-width: 575.98px)
			font-size: $fz-16
		div:before
			content: ''
			position: absolute
			left: 0
			top: 50%
			margin-top: 2px
			transform: translateY(-50%)
			border: 2px solid
			background-color: #fff
			background-position: center center
			background-repeat: no-repeat
			background-size: 10px
			transition: $transition
		input
			&:checked ~ div:before
				border-color: $color-checked
				border-radius: 6px
	&.checkbox-group
		padding-left: 30px
		div:before
			border-radius: 4px
			width: 20px
			height: 20px
			border-color: $color-gray-2
		input
			&:checked ~ div
				color: $color-black
				&:before
					background-image: url(../img/check-square.svg)
					background-size: cover

.list-check
	margin-bottom: 0
	padding-bottom: 1rem
	padding-left: 0
	list-style: none
	li
		position: relative
		padding-left: 30px
		margin-bottom: 24px
		&:before 
			content: ''
			position: absolute
			top: 5px
			left: 0
			width: 20px
			height: 20px
			background-image: url(../img/checkmark.svg)
			background-size: cover

.list-check-warning
	li 
		margin-bottom: 20px
		&:before
			background-image: url(../img/warning.svg)

.form-textarea 
	height: 180px !important
	resize: none
	padding: 10px
	font-size: $fz-18

.form-textarea-100
	height: 100px !important

.form-textarea-125
	height: 125px !important
	padding-bottom: 40px

.uploader-plugin
	position: relative
	overflow: hidden
	border-radius: .25rem
	transition: $transition
	&:hover 
		background: $color-white-2
	input.upload
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		margin: 0
		padding: 0
		font-size: 20px
		opacity: 0
		filter: alpha(opacity = 0)
		&.error 
			~ .fileUpload
				border-color: $color-red
	.fileUpload
		padding: 6px 13px
		height: 44px
		font-size: $fz-18
		transition: $transition
		color: $color-blue
		border: 1px solid $color-hr 
		border-radius: .25rem
		text-align: left
		width: 100%
		font-weight: $font-weight-500
		white-space: nowrap
		text-overflow: ellipsis
		padding-right: 45px
		img 
			width: 20px
	.delete-small 
		position: absolute
		display: none
		right: 13px
		top: 50%
		width: 20px
		height: 20px
		transform: translateY(-50%)
		transition: $transition
		.delete-2
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			opacity: 0
			transition: $transition
		&:hover
			.delete-2
				opacity: 1
		img 
			display: block

.uploader 
	label 
		padding: 10px
		height: 120px
		width: 120px
		text-align: center
		border-radius: 4px
		border: 1px solid $color-hr
		transition: $transition
		display: flex
		flex-direction: column
		overflow: hidden
		&:hover 
			background: $color-white-2
		&.file-upload 
			padding: 0
			.delete-img
				display: block
			&:hover 
				.delete-img
					opacity: 1
	.delete-img
		display: none
		opacity: 0
		background: rgba(252, 252, 252, .94)
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		img
			position: absolute
			bottom: 50%
			left: 50%
			transform: translate(-50%, 50%)
	#start 
		padding: 22px 10px
		&.hidden 
			display: none
	#response 
		&.hidden 
			display: none
		#messages 
			display: none
	#file-image
		margin: auto
		max-height: 100%
		&.hidden 
			display: none
	#notimage 
		display: block
		float: left
		clear: both
		width: 100%
		&.hidden 
			display: none
	input[type="file"] 
		opacity: 0
		position: absolute
		top: 0
		left: 0
		font-size: $fz-0
		pointer-events: none
		&.error
			~ label 
				border-color: $color-red
	div 
		color: $color-blue
		font-size: $fz-18

.bg-upload
	display: inline-block
	background-image: url(../img/upload.svg)
	background-size: cover 
	background-position: center center
	width: 24px
	height: 20px

.the-count
	color: $color-gray-2
	font-size: $fz-14
	transition: $transition

.block-company
	display: none

.bg-img
	background-size: cover
	background-position: center center
	height: auto

.bg-img-460
	height: 460px
	@media (max-width: 575.98px)
		height: 290px

.bg-img-112
	height: 112px

.bg-img-radius
	border-radius: 8px
	overflow: hidden

.radius-bottom-8
	overflow: hidden
	border-bottom-left-radius: 8px
	border-bottom-right-radius: 8px

.a-bid
	color: initial
	h3 
		transition: $transition
	&:hover 
		color: initial
		h3
			opacity: .7

.closed
	opacity: .5
	.a-bid
		&:hover 
			h3 
				opacity: 1

.pill
	display: inline-block
	font-size: $fz-14
	padding: 0 4px
	color: $color-white
	border-radius: 4px
	&.pill-blue
		background: $color-blue
	&.pill-green
		background: $color-green
	&.pill-red
		background: $color-red
	&.pill-closed
		background: $color-hr
		color: $color-black
		font-weight: $font-weight-600

.pagination 
	.page-item
		&:not(:last-child)
			margin-right: 16px
		.page-link 
			color: $color-black
			background: $color-gray-pagination
			font-size: 24px
			font-weight: $font-weight-700
			padding: 5px
			width: 40px
			height: 40px
			border-radius: 8px
			text-align: center
			border: 0
			font-family: $Avenir-Arabic
			&:hover, &.active
				background: $color-blue
				color: $color-white
				opacity: 1
			&:focus 
				box-shadow: none
			@media (max-width: 575.98px)
				font-size: 16px
				width: 30px
				height: 30px

.btn-watch
	display: flex
	align-items: center
	color: $color-blue
	border: 1px solid $color-gray-pagination
	border-radius: 4px
	font-size: $fz-14
	font-weight: bold
	padding: 2px 10px
	.img-watch
		display: inline-block
		width: 16px
		height: 11px
		background-size: cover
		background-position: center center
		background-image: url(../img/watch.svg)
	&:hover, &:active
		background: $color-white
		color: $color-blue-2
	&:focus 
		box-shadow: none

.btn-watched
	color: $color-white
	border-color:	$color-blue
	background: $color-blue
	.img-watch
		background-image: url(../img/watch-white.svg)
	&:hover, &:active 
		background: $color-blue !important
		color: $color-white !important
		border-color:	$color-blue !important

.address
	padding-top: 8px
	padding-bottom: 16px
	&:not(:last-child)
		border-bottom: 1px solid $color-hr

.block-website
	background: $color-white-2
	padding: 24px
	border: 1px solid $color-hr
	@media (max-width: 575.98px)
		padding: 15px

.my-40
	margin-top: 40px
	margin-bottom: 40px

.base-img
	border-radius: 4px
	overflow: hidden

.bid-block
	padding: 40px
	border-radius: 8px
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.02)
	border: 1px solid $color-card
	color: $color-gray-3
	@media (max-width: 575.98px)
		padding: 25px 15px

.adjust-block
	display: inline-block
	width: 20px
	height: 20px
	transition: $transition
	.adjust-bid
		width: 18px
		height: 18px
		border-radius: 100px
		background-size: cover
		background-position: center center
		&:hover 
			transform: scale(1.1)
		&.adjust-bid-minus-gray
			background-image: url(../img/minus-gray.svg)
		&.adjust-bid-minus-blue
			background-image: url(../img/minus-blue.svg)
		&.adjust-bid-plus-gray
			background-image: url(../img/plus-gray.svg)
		&.adjust-bid-plus-blue
			background-image: url(../img/plus-blue.svg)

.bid-time
	.bid-clock
		display: inline-block
		padding-right: 2px
		width: 16px
		height: 16px
		vertical-align: middle
		background-size: cover
		background-position: center center
		&.bid-clock-blue
			background-image: url(../img/clock-blue.svg)
		&.bid-clock-green
			background-image: url(../img/clock-green.svg)
		&.bid-check-blue
			background-image: url(../img/check-blue.svg)
		&.bid-check-green
			background-image: url(../img/check-green.svg)
	.bid-text-blue
		color: $color-blue
	.bid-text-green
		color: $color-green

.block-img
	border-radius: 8px
	@media (min-width: 768px)
		width: 240px
		height: 160px

.block-gray
	border-radius: 8px
	width: 240px
	height: 160px

.bg-gray
	background: $color-gray-pagination

.modal-deposit
	&.modal-1000
		@media (min-width: 1200px)
			max-width: 1000px
	&.modal-565
		@media (min-width: 1200px)
			max-width: 565px
	.modal-content 
		border-radius: 16px
		border: 0 
		.card-signup
			box-shadow: none	
			&.card-signup-60
				padding: 60px
				@media (max-width: 575.98px)
					padding: 40px 15px

.table-main
	border: 0.5px solid $color-disabled
	border-radius: 4px
	.table-2
		min-width: 1108px
		margin-bottom: 0 !important
		width: 100%
		.d-table-row
			vertical-align: middle
			color: $color-black
			.d-table-cell
				padding: 10px 16px
				vertical-align: middle
				border: 0
				&:last-child
					text-align: right
			&:first-child
				background: $color-blue !important
				.d-table-cell 
					color: $color-white
					font-weight: $font-weight-500
		.d-table-row:nth-of-type(odd)
			background: $color-white-2
		.d-table-row:nth-of-type(even)
			background: $color-white
		a 
			&.d-table-row 
				&:hover 
					background: $color-hr

.draft
	.text-draft
		color: $color-gray-2
	.circle 
		display: inline-block
		width: 16px
		height: 16px
		border-radius: 100px
		background: $color-white
		border: 2px solid $color-disabled
	&.success
		.text-draft
			color: $color-black
		.circle 
			border: none
			background-size: cover
			background-position: center center
			background-image: url(../img/checked.svg)